.navbar-body {
    
}

.navbar-logo-button {
    display: flex;
    align-items: center;
}

.navbar-logo {
    padding: 0px 14px;
    display: flex;
    align-items: center;
    transform: scale(2.5);
}
  
.navbar-spacer-1 {
    width: 100%;
    text-align: center;
}

.navbar-spacer-2 {
    flex-grow: 1;
}