<mat-card class="card">
    <mat-card-actions>
        <button mat-button>
            <mat-card-header class="card-header">
                <mat-card-title>{{project?.getProjectName()}}</mat-card-title>
            </mat-card-header>
            <div class="card-image-container">
                <img mat-card-image src={{getImagePath()}} alt={{project?.getFileName()}} class="card-image">
            </div>
            <mat-card-content *ngIf="!resize.XS" class="card-content">
                <a>{{project?.getSummary()}}</a>
            </mat-card-content>
        </button>    
    </mat-card-actions>
</mat-card>