/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.default-page {
    margin-left: 1em;
    margin-right: 1em;
    height: 100%;
}
